	<style>
		@@media (min-width:1991px) and (max-width:2560px) {
			img.cm-photo {
				height: 140px !important;
				width: 150px !important;
				margin-top: 25px;
			}

			label.cm-tit1 {
				font-size: 21px;
				float: left;
				margin-top: 40px;
			}
			label.cm-tit2 {
				font-size: 21px;
				float: left;
			}
			label.cm-tit3 {
				font-size: 21px;
				float: left;
			}
			label.knlan.title1 {
				font-size: 30px;
				margin-top: 30px;
				font-weight: 700;
			}
			label.knlan.title2 {
				font-size: 29px;
				font-weight: bold;
			}
			img.gok-logo {
				margin-top: 30px;
				width: 115px;
			}
			label.cm-tit1_en {
				font-size: 21px;
				float: left;
				margin-top: 35px;
			}
			label.cm-tit2_en {
				font-size: 21px;
				float: left;
			}
			label.cm-tit3_en {
				float: left;
				font-size: 21px;
			}
			label.Enlan.eng-title1 {
				margin-top: 30px;
				font-size: 30px;
				font-weight: 800;
			}
			label.Enlan.eng-title2 {
				font-size: 25px;
				font-weight: 700;
			}
			i.fa.fa-home {
				font-size: 26px;
			}
			label#kn_M {
				font-size: 26px;
			}
			i.fa.fa-newspaper-o {
				font-size: 26px;
			}
			label#kn_B {
				font-size: 26px;
			}
			i.fa.fa-phone {
				font-size: 26px;
			}
			label#kn_H {
				font-size: 26px;
			}
			label#en_M {
				font-size: 26px;
				margin-right: 50px;
			}
			label#En_B {
				font-size: 26px;
				margin-right: 50px;
			}
			label#en_H {
				font-size: 26px;
			}
			img#img_login_en {
				margin-left: 100px;
			}
			img#img_login_kn {
				margin-left: 100px;
			}
			
		}
		@@media (min-width:1500px) and (max-width:1990px) {
			img.cm-photo {
				height: 85px !important;
				width: 85px !important;
			}
			label .knlan.title1 {
				font-size: 18px;
			}

			label.knlan.title2 {
				font-size: 16px;
				font-weight: bold;
			}

			.cm-tit1 {
				font-size: 16px;
				float: left;
			}

			.cm-tit2 {
				font-size: 16px;
				float: left;
			}

			.cm-tit3 {
				font-size: 16px;
				float: left;
			}
			label.cm-tit1_en {
				margin-top: 35px;
				float: left;
				font-size: 21px;
			}
			label.cm-tit2_en {
				font-size: 21px;
				float: left;
			}
			label.cm-tit3_en {
				font-size: 21px;
				float: left;
			}
			label.Enlan.eng-title1 {
				margin-top: 30px;
				font-weight: 700;
			}
			label.Enlan.eng-title2 {
				font-size: 27px;
				font-weight: 700;
			}
			input#txtEnteredCaptchaKgid {
				margin-left: -40px;
			}
		}

		@@media (min-width: 1100px) and (max-width: 1440px) {
			img.cm-photo {
				height: 70px !important;
				width: 75px !important;
				margin-top: 0px;
			}
			label.Enlan.eng-title1 {
				font-size: 18px;
				font-weight: 700;
			}

			label.Enlan.eng-title2 {
				font-weight: 700;
				font-size: 17px;
			}

			label.knlan.title1 {
				font-size: 15px;
			}

			label.knlan.title2 {
				font-size: 15px;
				font-weight: 700;
			}

			.cm-tit1 {
				font-size: 12px;
				float: left;
				margin-top: -2px
			}

			.cm-tit2 {
				font-size: 12px;
				float: left;
			}

			.cm-tit3 {
				font-size: 12px;
				float: left;
			}
			label.cm-tit1_en {
				font-size: 12px;
				float: left;
				margin-top: -5px;
			}
			label.cm-tit2_en {
				font-size: 12px;
				float: left;
			}
			label.cm-tit3_en {
				font-size: 12px;
				float: left;
			}
		}

		@@media (min-width: 769px) and (max-width: 1024px) {
			label.Enlan.eng-title1 {
				font-size: 17px;
				font-weight: 700;
			}

			label.Enlan.eng-title2 {
				font-size: 15px;
				font-weight: 700;
			}

			label.knlan.title1 {
				font-size: 14px;
				font-weight: 700;
			}

			label.knlan.title2 {
				font-size: 14px;
				font-weight: 700;
			}

			.cm-tit1 {
				font-size: 12px;
				float: left;
			}

			.cm-tit2 {
				font-size: 12px;
				float: left;
			}

			.cm-tit3 {
				font-size: 12px;
				float: left;
			}
			label.cm-tit1_en {
				font-size: 13px;
				float: left;
			}
			label.cm-tit2_en {
				font-size: 13px;
				float: left;
			}
			label.cm-tit3_en {
				font-size: 13px;
				float: left;
			}
			label#en_M {
				font-size: 14px;
			}
			label#En_B {
				font-size: 14px;
			}
			label#en_H {
				font-size: 14px;
				margin-top: 7px;
			}
		}

		@@media (min-width:600px) and (max-width:768px) {
			label.knlan.title1 {
				font-size: 14px;
			}

			label.knlan.title2 {
				font-size: 13px;
			}

			label.Enlan.eng-title1 {
				font-size: 15px;
				font-weight: bold;
			}

			label.Enlan.eng-title2 {
				font-size: 13px;
				font-weight: bold;
			}

			img.gok-logo {
				width: 70px;
				height: 70px;
				margin-left: 25px;
			}
		}

		@@media (min-width:400px) and (max-width:599px) {
		}

		@@media (min-width:321px) and (max-width:400px) {
		}

		@@media (min-width:200px) and (max-width:320px) {
		}
</style>
        <header class="header-section" style="margin-bottom:15px;">


            <div class="container">
                <div class="inner-header">
                    @*<div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="text-center Enlan">
                    <a>

                        <img src="~/Content/Images/kgid-login-topbanner-en.jpg" />
                    </a>
                </div>
                <div class="text-center knlan ">
                    <a>

                        <img src="~/Content/Images/kgid-login-topbanner-kn.jpg" />
                    </a>
                </div>


                                </div>
                            </div>*@
                    <div class="row">
                      <div class="col-lg-1 col-md-1"></div>
                        <div class="col-lg-3 col-md-4 col-xl-3 col-sm-5">
                            <div class="text-center Enlan">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<a>
											@*<img src="~/Content/Images/kgid-cmphoto-en.png" />*@
											<img  style="height: 75px; width: 65px; "class="cm-photo" src="~/Content/Images/CM_Photo 3.png" />
										</a>
									</div>
									<div class="col-lg-8 col-md-8 mt-3">

										<label  class="cm-tit1_en" >Shri. Basavaraj Bommai</label>
										<label class="cm-tit2_en" >Hon'ble Chief Minister</label>
										<label class="cm-tit3_en" >Government of Karnataka</label>

									</div>
								</div>
								</div>


                            <div class="text-center knlan">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<a>
											<img style="height: 75px; width: 65px; " class="cm-photo" src="~/Content/Images/CM_Photo 3.png" />
										</a>
									</div>
									<div class="col-lg-8 col-md-8 mt-3">

										<label class="cm-tit1">ಶ್ರೀ. ಬಸವರಾಜ ಬೊಮ್ಮಾಯಿ</label>
										<label class="cm-tit2">ಮಾನ್ಯ ಮುಖ್ಯಮಂತ್ರಿಗಳು</label>
										<label class="cm-tit3">ಕರ್ನಾಟಕ ಸರ್ಕಾರ</label>

									</div>
									</div>
								</div>
                            
                        </div>
                        <div class="col-lg-5 col-md-5  advanced-search ">
                            @*<div class="text-center">
                    <img src="~/Content/Images/kgid-building-icon.png" />
                </div>*@
                            <h2><label class="Enlan eng-title1">Karnataka Government Insurance Department</label><label class="knlan title1">ಕರ್ನಾಟಕ ಸರ್ಕಾರ ವಿಮಾ ಇಲಾಖೆ</label></h2>
                            <h5><label class="Enlan eng-title2">Government of Karnataka</label><label class="knlan title2">ಕರ್ನಾಟಕ ಸರ್ಕಾರ</label></h5>
                        </div>

                        <div class="col-lg-3 col-md-2">

                            <img class="gok-logo" src="~/Content/Images/gok-png-logo.png" />
                        </div>
                    </div>
                </div>
                </div>

            <script>
                //var $JQ = jQuery.noConflict();

        $(document).ready(function () {
            var _Knlan = $('.knlan');
            var _EnLan = $('.Enlan');
            if (sessionStorage.getItem('Lang') === '2') {
                
                _Knlan.hide();
                _EnLan.show();

                $('#chnageLan').val('ಕನ್ನಡ');

            }
            else {
                _EnLan.hide();
                _Knlan.show();
                $('#chnageLan').val('English');
            }

            $('#chnageLan').click(function () {
                _Knlan.toggle();
                _EnLan.toggle();
                sessionStorage.getItem('Lang');

                if ($('.knlan').is(":visible")) {
                    $('#chnageLan').val('English');
                    sessionStorage.setItem('Lang', '0');
                }
                else {
                    $('#chnageLan').val('ಕನ್ನಡ');

                    sessionStorage.setItem('Lang', '1');
                }
            });
        });
    </script>


</header>

